apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
  # Broadcaster
  # Backend
  # Frontend
resources:
- namespace.yaml
- ../../volumes/persistent_cache.yml
- ../../volumes/persistent_imgcache_claim.yaml
- ../todo_broadcaster/manifests/00-nats.yml
- ../todo_broadcaster/manifests/01-nats-service.yaml
- ../todo_broadcaster/manifests/02-deployment.yaml
- ../todo_backend/manifests/01-database.yaml
- ../todo_backend/manifests/02-deployment.yaml
- ../todo_backend/manifests/03-service.yaml
- ../todo_backend/manifests/04-ingress.yaml
- ../todo_backend/manifests/05-cron.yaml
- ../todo_backend/manifests/06-backup.yml
- ../todo_app/manifests/deployment.yaml
- ../todo_app/manifests/service.yaml

# Add Service Account key when deoloyed locally
patches:
- path: add-gcp-sa-key-patch.yaml
  target:
    kind: CronJob
    name: add-todo-db-backup-cronjob
- path: delete-service-account-ref.yaml
  target:
    kind: CronJob
    name: add-todo-db-backup-cronjob
images:
- name: '*/todo_app:*'
  newName: europe-north1-docker.pkg.dev/dwk-gke-iku/dwk-artifact-repo/todo_app
  newTag: 4.9-170f94f4b47d93d3d6a9fa9d0367cd204c7bf955
- name: '*/todo_backend:*'
  newName: europe-north1-docker.pkg.dev/dwk-gke-iku/dwk-artifact-repo/todo_backend
  newTag: 4.9-170f94f4b47d93d3d6a9fa9d0367cd204c7bf955
- name: '*/todo_broadcaster:*'
  newName: europe-north1-docker.pkg.dev/dwk-gke-iku/dwk-artifact-repo/todo_broadcaster
  newTag: 4.9-170f94f4b47d93d3d6a9fa9d0367cd204c7bf955
