name: Project CI Pipeline

on:
  push:
    branches:
      - "**"
    tags:
      - "*"

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_ZONE: europe-north1-b
  REGISTRY: europe-north1-docker.pkg.dev
  REPOSITORY: dwk-artifact-repo
  BRANCH: ${{ github.ref_name }}

jobs:
  detect-changes:
    name: Detect Changes
    runs-on: ubuntu-latest
    outputs:
      todo_app: ${{ steps.filter.outputs.todo_app }}
      todo_backend: ${{ steps.filter.outputs.todo_backend }}
      todo_broadcaster: ${{ steps.filter.outputs.todo_broadcaster }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          base: ${{ github.event.repository.default_branch }}
          filters: |
            todo_app:
              - 'todo_app/**'
            todo_backend:
              - 'todo_backend/**'
            todo_broadcaster:
              - 'todo_broadcaster/**'

  build-publish-deploy-the-project:
    name: Build The Project
    needs: detect-changes
    environment: GKE
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check if commit has an exact tag
        id: checktag
        run: |
          if git describe --exact-match --tags >/dev/null 2>&1; then
            echo "is_tagged=true" >> $GITHUB_OUTPUT
          else
            echo "is_tagged=false" >> $GITHUB_OUTPUT
          fi

      - name: Set Kubernetes namespace to use
        run: |
          if [ "$BRANCH" = "master" ]; then
            NAMESPACE="project"
          else
            NAMESPACE="$(echo $BRANCH)"
          fi

          echo "NAMESPACE=$NAMESPACE" | tee "$GITHUB_ENV"

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GKE_SA_KEY }}"

      - name: "Set up Cloud SDK"
        uses: google-github-actions/setup-gcloud@v2

      - name: "Use gcloud CLI"
        run: gcloud info

      - name: "Configure docker to use GKE registry"
        run: gcloud --quiet auth configure-docker $REGISTRY

      - name: "Form the todo-app image name"
        run: echo "TODO_APP_IMAGE_TAG=$REGISTRY/$PROJECT_ID/$REPOSITORY/todo_app:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV

      - name: Build and push todo-app image
        if: needs.detect-changes.outputs.todo_app == 'true' || ${{ env.ACT_FORCE_BUILD }} == 'true'
        uses: docker/build-push-action@v4
        with:
          context: ./todo_app
          push: true
          tags: ${{ env.TODO_APP_IMAGE_TAG }}

      - name: "Form the todo-backend image name"
        run: echo "TODO_BACKEND_IMAGE_TAG=$REGISTRY/$PROJECT_ID/$REPOSITORY/todo_backend:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV

      - name: Build and push todo-backend image
        if: needs.detect-changes.outputs.todo_backend == 'true' || ${{ env.ACT_FORCE_BUILD }} == 'true'
        uses: docker/build-push-action@v4
        with:
          context: ./todo_backend
          push: true
          tags: ${{ env.TODO_BACKEND_IMAGE_TAG }}

      - name: "Form the todo-broadcaster image name"
        run: echo "TODO_BROADCASTER_IMAGE_TAG=$REGISTRY/$PROJECT_ID/$REPOSITORY/todo_broadcaster:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV

      - name: Build and push todo-broadcaster image
        if: needs.detect-changes.outputs.todo_broadcaster == 'true' || ${{ env.ACT_FORCE_BUILD }} == 'true'
        uses: docker/build-push-action@v4
        with:
          context: ./todo_broadcaster
          push: true
          tags: ${{ env.TODO_BROADCASTER_IMAGE_TAG }}

      - name: Checkout the config repo to ./configuration
        uses: actions/checkout@v4
        with:
          repository: Ik-12/KubernetesSubmissions
          path: configuration
          token: ${{ secrets.CONFIG_REPO_TOKEN }}

      - name: Install kubectl CLI
        uses: azure/setup-kubectl@v4
        with:
          version: "latest"
      
      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2.1.0
        with:
          # Need to make local runner using act to work
          github-token: "${{ secrets.GITHUB_TOKEN }}"
     
      - name: Update staging with new image tag
        working-directory: configuration/the_project/overlays/staging
        run: |
          # Use the images we just build and pushed
          kustomize edit set image \*/todo_app:\*=$TODO_APP_IMAGE_TAG
          kustomize edit set image \*/todo_backend:\*=$TODO_BACKEND_IMAGE_TAG
          kustomize edit set image \*/todo_broadcaster:\*=$TODO_BROADCASTER_IMAGE_TAG

      - name: Commit staging kustomization.yaml to the config repo
        uses: EndBug/add-and-commit@v9
        with:
          cwd: './configuration'
          add: './the_project/overlays/staging/kustomization.yaml'
          message: New staging app version(s) released https://github.com/Ik-12/KubernetesSubmissions-todo-src/commit/${{ github.sha }} 

      - name: Update production with new image tag if tagged commit
        if: steps.checktag.outputs.is_tagged == 'true' || github.ref_type == 'tag'
        working-directory: configuration/the_project/overlays/production
        run: |
          # Use the images we just build and pushed
          kustomize edit set image \*/todo_app:\*=$TODO_APP_IMAGE_TAG
          kustomize edit set image \*/todo_backend:\*=$TODO_BACKEND_IMAGE_TAG
          kustomize edit set image \*/todo_broadcaster:\*=$TODO_BROADCASTER_IMAGE_TAG

      - name: Commit production kustomization.yaml to the config repo
        if: steps.checktag.outputs.is_tagged == 'true' || github.ref_type == 'tag'
        uses: EndBug/add-and-commit@v9
        with:
          cwd: './configuration'
          add: './the_project/overlays/production/kustomization.yaml'
          tag: ${{ github.ref_name }}
          message: New production app version(s) released https://github.com/Ik-12/KubernetesSubmissions-todo-src/commit/${{ github.sha }} 
